.row2 {
    color: black;
    margin-bottom: 30px;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    
    object-fit: contain;
    max-height: 100px;
    transition: transform 450ms;
    margin-right: 20px;
}

.row_poster:hover {
    transform: scale(1.08);
    opacity: 1;
}

.row_posterLarge {
    max-height: 200px;
}

.row_posterLarge:hover {
    transform: scale(1.09);
    opacity: 1;
}